In [1]:
def sai():
    print('good morning team')

In [2]:
def sai():
    print('good morning team')
sai()

good morning team

In [3]:
def greet():
    print('Hello')
    print('good morning')

In [4]:
def greet():
    print('Hello')
    print('good morning')
greet()

Hello
good morning

In [5]:
def greet():
    print('Hello')
    print('good morning')
greet()

def greet():
    print('Hello')
    print('good morning')
greet()

def greet():
    print('Hello')
    print('good morning')
greet()

Hello
good morning
Hello
good morning
Hello
good morning

In [6]:
def greet():
    
    print('Hello good morning boss')

greet()

Hello good morning boss

In [7]:
def greet():

    print('Hello good morning boss')

greet()

greet()

greet()

greet()

Hello good morning boss
Hello good morning boss
Hello good morning boss
Hello good morning boss

In [8]:
def add(*nums):
   print(sum(nums))

add(5,6,7,8)

26

In [9]:
def add(x,y):
    c = x + y
    print(c)

print(5,6)

5 6

In [10]:
def add(x,y,z,m):
    c = x + y + z + m
    print(c)
add(1,4,5,2)

12

In [11]:
def add(x,y,z,m):
    c=x+y+z+m
    print(c)

add(1,4,5,6)

16

In [12]:
def greet():
    print('Hello')
    print('good morning')

greet()

Hello
good morning

In [13]:
def add(x,y):
    c = x + y
    print(c)

add(5,6)

11

In [14]:
def greet():
    print('Hello')
    print('good morning')
greet()

def add(x,y):
    c = x + y
    print(c)
add(5,6)

Hello
good morning
11

In [15]:
def greet():
    print('Hello')
    print('good mornig')
def add(x,y):
    c = x + y
    print(c)

add(5,6)
greet()

11
Hello
good mornig

In [16]:
def greet():
    print('Hello')
    print('good noon')

def add(x,y):
    c = x+y
    print(c)

def sub(x,y):
    d = x-y
    print(d)

greet()
add(5,6)
sub(10,2)

Hello
good noon
11
8

In [17]:
def add_sub(x,y):
    c = x+y
    d = x-y
    print(c)
    print(d)

add_sub(10,5)

15
5

In [18]:
def add_sub(x,y):
    c = x+y
    d = x-y
    return c,d

add_sub(10,5)

(15, 5)

In [19]:
def add_sub(x,y):
    c = x+y
    d = x-y
    return c,d

result = add_sub(5,4)

print(result)

(9, 1)

In [20]:
def add(x,y):
    c = x+y
    print(c)
add(5,6)

11

# FORMAL ARGUMENT & ACTUAL ARGUMENT

In [21]:
def person(name,age,number):
    print(name)
    print(age)

person('Ruwan',23,34)

Ruwan
23

In [22]:
def person(name,age):
    print(name)
    print(age)

person('Ruwan',23)

Ruwan
23

In [23]:
def person(name,age):
    print(name)
    print(age)

person(23,'Ruwan')

23
Ruwan

In [24]:
def person(name, age):
    age = int(age)
    print(name)
    print(age + 1)

person('Ruwan', 23)

Ruwan
24

# Keyword Argument

In [25]:
def person(name,age):
    print(name)
    print(age+1)

person(age=23,name='Ruwan')

Ruwan
24

In [26]:
def person(name,age):
    print(name)
    print(age+1)

person( name='Ruwan',age=23)

Ruwan
24

In [27]:
def person(name,age1):
    print(name)
    print(age1+1)

person(age1=23,name='Ruwan')

Ruwan
24

In [28]:
def person(name,age,city):
    print(name)
    print(age+1)
    print(city)

person(age=23,name='Ruwan',city='hyd')

Ruwan
24
hyd

In [29]:
def person(name,age,city):
    print(name)
    print(age+1)
    print(city)

person(age=23,name='Ruwan',city = 'hyd')

Ruwan
24
hyd

In [30]:
def person(name,age=18):
    print(name)
    print(age)

person('Ruwan',24)

Ruwan
24

# variable length argument

In [31]:
def sum(a,b):
    c = a+b
    return c 

sum(5,6)

11

In [59]:
def sum_all(*nums):
    return sum(nums)

print(sum_all(5,6,7,8,9,10))

(5, 6, 7, 8, 9, 10)
None

In [35]:
def sum(a, *b):
    c = a
    for i in b:
        c += i
    return c
    
sum(5,6,7,8,9,10)

45

In [36]:
def sum(a, *b): # 1st argument is fixed but for 2nd argument
    #c = a+b
    print(type(a))
    print(type(b))

sum(5,6,7,8)

<class 'int'>
<class 'tuple'>

In [37]:
def sum(a,*b): # 1st argument is fixed but for 2nd argument
    c = a

    for i in b:
        c = c+i
    print(c)

sum(5,6,7,8,9,10,100,200,300)

645

In [38]:
def sum(a,*b):
    c = a
    for i in b:
        c = c+i
    print(c)

sum(5,6,7,8)

26

- Positional Arguments
- Keyword Arguments
- default
- Variable length (* at last arg)|(args)
- keyword + variable length(kwargs)

In [39]:
def person(name,*data):
    person('ALEX',36,'JOHN',987767)

In [40]:
def person(name,*data):
    print(name)
    print(data)

person('ALEX',36,'JOHN',987767)

ALEX
(36, 'JOHN', 987767)

In [41]:
def person(name,*data):
    print('name')
    print(data)

person('ALEX',{"age":36,"home_place ": 'sothcity',"mob" : 987767})

name
({'age': 36, 'home_place ': 'sothcity', 'mob': 987767},)

In [42]:
def person(name,**data):
    print('name')
    print(data)

person('ALEX',age = 36,home_place = 'southcity',mob = 987767,edu = 'phd')

name
{'age': 36, 'home_place': 'southcity', 'mob': 987767, 'edu': 'phd'}

# Function Arguments we are completed

# Global variables vs Local variables

In [43]:
a = 10

print(a)

10

In [44]:
a = 10

def something():
    b = 15
    print('in function',b)
    print('out function',a)

In [45]:
a = 10
def something():
    b = 15
    return b

b = something()
print('in function',b)
print('out function',a)

in function 15
out function 10

In [46]:
a = 10 

def something():
    b = 15
    print(' in function',b)

print('out function',a)

out function 10

In [47]:
a = 10
def something():
    a = 15

print('in function',a)
print('out function',a)

in function 10
out function 10

In [48]:
a = 10 

def something():
    b = 15
    print('in Function',b)

something()
print('out function',a)

in Function 15
out function 10

In [49]:
a = 10 #global variable

def something():
    b = 55 # local variable
    print('in function',b)
something()

print('out function',a)

in function 55
out function 10

In [50]:
# if i want to define global variable inside the function
a = 10

def something():
    global a
    b = 15 # 15 is converted to local when user assinged global a
    print('in function',b)
    print('global variable',a)
something()
print('out function',a)

in function 15
global variable 10
out function 10

In [51]:
x = 10 # Global varible

def update_x():
    global x # Declare that we are using the global variable x
    x += 5 # Modify the global variable

update_x()
print(x)

15

In [52]:
x = 10 # global variable

def updata_x():
    globals()['x'] += 5 # Access and modify the global variable

update_x()
print(x)

15

In [53]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [54]:
def count():
    lst = [1,2,3,4,8,9,10]
    print(lst)

count()

[1, 2, 3, 4, 8, 9, 10]

In [55]:
def count(lst):

    even = 0
    odd = 0

    for i in lst:
        if i%2 == 0:
            even += 1
        else:
            odd += 1
    return even,odd

lst = [1,2,3,4,8,9,10]
even,odd = count(lst)

print(even)
print(odd)

4
3

In [56]:
def count(lst):

    even = 0
    odd = 0

    for i in lst:
        if i%2 == 0:
            even += 1
        else:
            odd +=1
    return even,odd

lst = [1,2,3,4,5,6,7,8,9,10,11,12,13]
even,odd = count(lst)

print("Even Number: {} and odd Number : {}".format(even,odd))

Even Number: 6 and odd Number : 7

In [57]:
def fib(n):
    a = 0
    b = 1

    print(a)
    print(b)

    for i in range(0,n):
        c = a + b
        a = b
        b = c

        print(c)
fib(10)

0
1
1
2
3
5
8
13
21
34
55
89