# conditional statement

- if
- else
- Nested if
- if elif else

In [1]:
if True:
    print('Data science')

Data science

In [2]:
if False:
    print('Data science')
print('bye for now')

bye for now

In [3]:
if True: 
    print('Datascience')
print('bye for now')

Datascience
bye for now

In [4]:
if True:
    print('Data science')
else:
    print('bye for now')

Data science

In [5]:
if False:
    print('Data science')
else:
    print('no job')

no job

In [6]:
x = 4
r = x % 2

if r == 0:
    print('Even number')

Even number

In [7]:
x = 5
r = x % 2

if r == 0:
    print('Even number')

In [8]:
x = 5
r = x % 2

if r != 0:
    print('Odd numer')

Odd numer

In [9]:
x = 5
r = x%2

if r == 0:
    print('Even number')
print('Odd number')

Odd number

In [10]:
x = 4
r = x % 2

if r == 0:
    print('Even number')
print('Odd number')

Even number
Odd number

In [11]:
x =  9
r = x % 2

if r == 0:
    print('Even number')
if r == 1:
    print('Odd number')

Odd number

In [12]:
x = 8
r = x % 2

if r == 0:
    print('Even number')

else:
    print('Odd number')

Even number

In [13]:
x = 9
r = x % 2
if r!= 0:
    print('Odd number')
else:
    print('Even number')

Odd number

In [14]:
x = 3
r = x % 2
if r == 0:
    print('Even number')
    if x>5:
        print('greater number')
else:
    print('Odd Number')

Odd Number

In [15]:
x = 4 
r = x % 2 

if r == 0:
    print('Even Number')
    
    if x>5:
       print('greater number')
      
else:
    print('Odd Number')

Even Number

In [16]:
x = 4
r = x % 2

if r == 0:
  print('Even number')

  if x>5:
      print('greater number')
  else:  
      print('lesser number')
else:
  print('Odd Number')

Even number
lesser number

In [17]:
x = 13
r = x % 2
if r == 0:
    print('Even number')
    if x>5:
        print('greater number')
    else:
        print('lesser number')
else:
    print('Odd number')

Odd number

In [18]:
x = 3
if x == 1:
    print('one')
if x == 2:
    print('Two')
if x == 3:
    print('Three')
if x == 4:    
    print('Four')

Three

In [19]:
x = 1
if x == 1:
    print('One')
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('Four')

One

In [20]:
 x = 5
if x == 1:
    print('One')
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('Four')
else:
    print('number not found')

number not found

In [21]:
age = 19 
if age > 18: print("Eligible to vote,")

Eligible to vote,

# 10th ( LOOPS In PYTHON )

In [22]:
print('ds')
print('ds')
print('ds')
print('ds')
print('ds')

ds
ds
ds
ds
ds

In [23]:
i=1  # initializing

while i<=5: # condition
    print('data science')
    i = i + 1 # increment

data science
data science
data science
data science
data science

In [24]:
i = 5    # initializing
while i>1: # condition
    print('data science')
    i = i-1 # decrement

data science
data science
data science
data science

In [25]:
i = 1         # initialization
while i<=5:   # condition
     print('data science: ', i)
     i = i + 1 # increment

data science:  1
data science:  2
data science:  3
data science:  4
data science:  5

In [26]:
i = 5    # initializing
while i>=1: # condition
    print('data science :',i)
    i = i - 1 # decrement

data science : 5
data science : 4
data science : 3
data science : 2
data science : 1

In [27]:
i = 1

while i<5:
    print('data science')  # when we mention end then new line will not create 
    j = 1
    while j<=4:
        print('technology')
        j = j + 1
        
    i = i + 1
    print()
    
  # The output  which we got is very lengthy but how to make them one line lets refer to  below code

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [28]:
i = 1
while i<=5:
    print('data science', end = "") # when we mention end then new line will not create
    j = 1
    while j<=4:
        print('technology',end ="")
        j = j + 1
    i = i + 1
    print()

data sciencetechnologytechnologytechnologytechnology
data sciencetechnologytechnologytechnologytechnology
data sciencetechnologytechnologytechnologytechnology
data sciencetechnologytechnologytechnologytechnology
data sciencetechnologytechnologytechnologytechnology

In [29]:
# lets use while loop using some numbers
i = 1

while i <= 2 :
    j = 0
    while j <= 2 :
        print(i*j, end="")
        j += 1
    print()
    i += 1

012
024

In [30]:
# lets use while loop using some numbers
i = 1
while i <= 4 :
    j = 0
    while j <= 3 :
        print(i*j, end="")
        j += 1
    print()
    i += 1

0123
0246
0369
04812

In [31]:
# lets use while loop using some numbers
i = 10

while i <= 4 :
    j = 1
    while j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

else:
    print('condition is not match')

condition is not match

# For Loop

In [32]:
name = ' nit '

for i in name:
    print(i)

n
i
t

In [33]:
name1 = [1, 3.5, 'hello']

for i in name1:
    print(i)

1
3.5
hello

In [34]:
range(5)

range(0, 5)

In [35]:
for i in range(5):
    print(i)

0
1
2
3
4

In [36]:
for i in range (10,50,5):
    print(i)

10
15
20
25
30
35
40
45

In [37]:
# print the value which is divisible by 5
for i in range(1,31):

    if i%3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

# BREAK, CONTINUE, PASS

In [38]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [39]:
for i in range(1,11):
    if i == 4:
        break
    print(i)

1
2
3

In [40]:
for i in range(1,11):
    if i == 4:
        continue
    print(i)

1
2
3
5
6
7
8
9
10

In [41]:
for i in range(1,11):

_IncompleteInputError: incomplete input (1334445784.py, line 1)

In [54]:
for i in range(1,11):
    pass

In [1]:
x = int(input('How many chocolates you want:?'))

i = 1
while i<=x:
    print('chocolates :', i)
    i += 1

How many chocolates you want:? 3

chocolates : 1
chocolates : 2
chocolates : 3

In [5]:
ava = 5 # the machine has only 5 choclet 

x = int(input('How many chocolates you want:?'))

i = 1
while i<=x:
    print('chocolates:', i)
    i += 1

How many chocolates you want:? 10

chocolates: 1
chocolates: 2
chocolates: 3
chocolates: 4
chocolates: 5
chocolates: 6
chocolates: 7
chocolates: 8
chocolates: 9
chocolates: 10

In [7]:
available_chocolates = 5 # The machine has only 10 candis

x = int(input('How many chocolates user want:?'))

i = 1
while i<=x:
    
    if i>available_chocolates:
        # we stop the execution but which code execution not entirecod , i want to come out of while loop
       break # break is statement | means jump out of the loop
    print('chocolates')
    i += 1

print('bye for now')

How many chocolates user want:? 4

chocolates
chocolates
chocolates
chocolates
bye for now

In [9]:
available_chocolates = 5 # The machine has only 10 candis

x = int(input('How many chocolates you want:?'))

i = 1
while i<=x:

    if i>available_chocolates: # we stop the execution but which code execution not entire code , i want  to come out of while loop
        print('out of stock')
        break # break  is statement | means jump out of the loop
    print('chocolates : ',i)
    i += 1
,
print('bye for now')

How many chocolates you want:? 8

chocolates :  1
chocolates :  2
chocolates :  3
chocolates :  4
chocolates :  5
out of stock
bye for now

In [10]:
 for i in range(1,51):
     
     if i%3 == 0:

         print(i)
 print('end')

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
end

In [11]:
for i in range(1,51):

    if i%3 == 0:
        continue
    print(i)
print('end')

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50
end

In [12]:
for i in range(1,51):

    if i%3 == 0 or i%5 == 0:

        continue
    print(i)
#print('end')
# it will skip all the value which is divisible by 3 or 5

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49

In [13]:
nums = [12,15,18,21,26,30,40]

for num in nums:
    if num % 5 == 0:
        print(num)

15
30
40

In [14]:
nums = [12,5,15,18,21,26,30,40]

for num in nums:
    if num % 5 == 0:
        print(num)
        #break

5
15
30
40

In [15]:
nums = [12,18,21,26]

for num in nums:
    if num % 5 == 0:
        print(num)
        break

In [16]:
nums = [12,18,21,26]

for num in nums:
    if num % 5 == 0:
        print(num)
        #break

else:
    print('number not found')

number not found

In [17]:
nums = [12,18,21,26,15]

for num in nums:
    if num % 5 == 0:
        print(num)
        break
else:
    print('number not found')

15